
.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems{
 
 padding: 10px;
}

.dialog{
 color:rgb(195, 231, 35);
}

.dialog.active{
  color:gold
}

.messageItems{
  
  padding: 10px;
}

.message{
  color:rgb(226, 204, 35)
}